.home-page{

}

.container{
    height: 74vh;
    width: 100%;
}

.hero-video{
    width: 100%;
    height: 100%;
}

.get-started{
   
}
.get-started .btn{
    padding: 1.1rem 2.8rem;
    border-radius: 1.4rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    background: #ffffff;
    color: #084B55;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.get-started .btn:hover{
    font-weight: bold;
    border: 1px solid #E4B337;
    background: #ffffff;
}

